# Arquivos gerados pelo VS Code
.vscode/
*.code-workspace

# Compilador gerado
*.exe
*.out
*.obj
*.o
*.so
*.dll
*.dylib
*.a
*.lib

# Diretórios de build e binários
build/
bin/
dist/
Debug/
Release/

# Arquivos temporários
*.log
*.tmp
*.swp
*.swo

# Arquivos de cache e intermediários
*.gch
*.pch
*.dSYM/
*.ipch/
*.res
*.aps

# Configuração de Debugger
launch.json
tasks.json

# Outros backups ou temporários
*.bak
*.old
*~

# Sistema operacional
.DS_Store           # macOS
Thumbs.db           # Windows
