# Arquivos gerados pelo VS Code
.vscode/
*.code-workspace

# Arquivos executáveis no Unix/Linux
*.elf      # Arquivos com extensão .elf
*.bin      # Binários genéricos

# Executáveis sem extensão
a.out      # Arquivo padrão de saída em C/C++
# Ignorar qualquer arquivo sem extensão que seja executável
**/*       # Todos os arquivos
!*.cpp     # Mas, não ignore arquivos de código C++ (ou .c, .h


# Compilador gerado
*.exe
*.out
*.obj
*.o
*.so
*.dll
*.dylib
*.a
*.lib

# Diretórios de build e binários
build/
bin/
dist/
Debug/
Release/

# Arquivos temporários
*.log
*.tmp
*.swp
*.swo

# Arquivos de cache e intermediários
*.gch
*.pch
*.dSYM/
*.ipch/
*.res
*.aps

# Configuração de Debugger
launch.json
tasks.json

# Outros backups ou temporários
*.bak
*.old
*~

# Sistema operacional
.DS_Store           # macOS
Thumbs.db           # Windows
